@keyframes firstFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section {
  position: relative;
  height: 100vh;
  opacity: 0;
  animation: firstFadeIn 1.5s ease-in-out forwards 0.1s;
  @media screen and (max-width: 768px) {
    height: 100svh;
  }
}
