.gallery {
  max-width: 100rem;
  margin: 8rem auto;

  @media screen and (max-width: 768px) {
    margin: 4rem auto 2rem;
    padding: 0 0.5rem;
  }

  img {
    margin: auto;

    &.customMargin {
      @media screen and (max-width: 768px) {
        max-width: 90%;
        margin: 5rem auto !important;
      }
    }
  }
}